body {
    background-color: #EDEDED;
}
header {
    position: absolute;
    top: 35px;
    left: 50px;
}
.search {
    width: 100%;
    height: 667px;
    background-image: url("../assets/images/banner.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search h1 {
    color: #FFD15B;
    font-family: 'Anton';
    text-transform: uppercase;
    max-width: 890px;
    text-align: center;
}
.search .input-group {
    max-width: 954px;
    display: flex;
    align-items: center;
}
.search .input-group .form-control {
    height: 60px;
    border-radius: 11px!important;
    border: none;
}
.search .input-group .btn {
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 0.25rem!important;
    z-index: 99;
}
.clear-input-icon {
    position:absolute;
    right: 60px;
    cursor: pointer;
    z-index: 99;
}
.clear-input-icon.d-none {
    display: none;
}
.filter {
    margin: 20px 75px;
    display: flex;
    align-items: center;
}
.filter .select {
    margin-right: 50px;
}
.filter .form-select {
    border: none;
    height: 50px;
    border-radius: 11px;
}
.filter .count-recette {
    text-align: right;
}
.filter .count-recette span {
    font-family: 'Anton';
}
#recipe-result {
    margin: 20px 75px;
}
#recipe-result .recipe {
    border-radius: 11px;
}
#recipe-result .image-recipe {
    object-fit: cover;
    height: 253px;
    width: 100%;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
}
#recipe-result .recipe-content {
    background-color: white;
    padding: 20px;
    border-bottom-right-radius: 11px;
    border-bottom-left-radius: 11px;
    font-family: "Manrope", serif;
    font-size: 14px;
}
#recipe-result .recipe {
    position:relative;
}
#recipe-result .recipe .time {
    display:block;
    position: absolute;
    background-color: #FFD15B;
    padding: 5px 15px;
    border-radius: 11px;
    font-size: 12px;
    top: 20px;
    right: 50px;
}
#recipe-result .recipe-content h3 {
    font-family: 'Anton';
    font-size: 18px;
    margin-bottom: 20px;
}
#recipe-result .recipe-content .separator {
    display: block;
    font-weight: bold;
    color: #7A7A7A;
    font-size: 12px;
    margin-bottom: 20px;
}
#recipe-result .recipe-content .ingredient-container .single-ingredient {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
#recipe-result .recipe-content .ingredient-container .single-ingredient .nom-ingredient {
    font-weight: 500;
}

#recipe-result .recipe-content .ingredient-container .single-ingredient .dose-ingredient {
    color: #7A7A7A;
}

.dropdown-toggle {
    background-color: white;
    border: 1px solid white;
    border-bottom: none;
    border-radius: 11px;
    height: 56px;
}
.dropdown-toggle.show {
    background-color: white;
    border: 1px solid white;
    border-radius: 11px 11px 0 0;
}
.dropdown-menu {
    background-color: white;
    border: 1px solid white;
    border-top: none;
    border-radius: 0 0 11px 11px;
    margin-top: -5px!important;
    max-height: 300px;
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    padding: 0;
}

.dropdown-menu::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}
.search-container {
    margin-top: 10px;
    position: relative;
    padding: 0 10px;
}

.filter-input {
    padding-right: 20px; 
    border-radius: 2px;
}

.search-icon,
.clear-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    font-size: 14px;
    cursor: pointer;
}

.clear-icon {
    color: black;
    right:30px
}

.clear-icon.d-none {
    display: none;
}

.remove-option {
  position: absolute;
  right: 10px;
}

.filter-list li {
    padding: 8px 0px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.filter-list li span {
    padding: 0 10px;
}

.filter-list li:hover {
    background-color: #FFD15B;
}

.filter-list li.selected {
    font-weight: bold;
    background-color: #FFD15B;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-tag {
    display: inline-flex;
    align-items: center;
    background-color: #FFD15B;
    padding: 5px 10px;
    border-radius: 11px;
    font-size: 14px;
    margin: 5px;
    cursor: pointer;
    height: 56px;
}

.filter-tag i {
    margin-left: 60px;
    cursor: pointer;
    font-size: 18px;
}

.selected-tags-zone {
    margin: 10px 75px;
}


.dropdown-item.selected {
    font-weight: bold;
    background-color: #EDEDED;
}

